.styledLinkContent{
  color: #707070;
  font-size: 16px;
  width: 4.2em;
  text-transform: capitalize;
}
.styledLinkContent:hover{
  color: #b12025;
  font-weight: bold;
}
.menuItem :focus{
  background: #b12025;
  font-weight: bold;
}


.submenuWrapper--submenu-top--isOpen{
  min-width: 300px;
  width: 100%;
  border:2px solid #efefef;
}

.submenuWrapper--submenu-top--isOpen ::before {
  background: #fff;
  border-left: 2px solid #efefef;
  border-top: 2px solid #efefef;
  content: "";
  height: 1rem;
  position: absolute;
  left: 1.5rem;
  top: -.6rem;
  transform: rotate(45deg);
  width: 1rem;
}
.submenu--submenu-top{
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  height: auto;
}
:global(.vtex-menu-2-x-menuContainerNav){
  width: 100%;
}
.submenu--submenu-top :global(.vtex-menu-2-x-menuItem){
  width: 50%;
}

.submenu--submenu-top :global(.vtex-menu-2-x-menuItem):hover{
  outline-bottom: 2px solid #B12025;
}


:global(.vtex-menu-2-x-menuContainer--submenu-top-wrapper) {
  max-width: 300px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

